
#clock{
    position: relative;
    background-color: red;
    margin: auto;
    height: 44vw;
    width: 44vw;
    background-image: url(clock.png) ;
    background-repeat: no-repeat;
    background-size: 100%;
}
#hour,#min,#sec{
    position:absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
#hour{
width: 1%;
height: 26.7%;
top:23%;
left: 49.3%;
transform-origin: bottom;


}

#min{
  
    width: 1%;
    height: 25.7%;
    top:24%;
    left: 49.3%;
    transform-origin: bottom;
 
}

#sec{
  
    width: 1%;
    height: 32%;
    top:18%;
    left: 49.3%;
    transform-origin: bottom;
  
}